html {
font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: georgia, sans-serif;
  }

header {
  background-color: #f0f58661;
  color: #000000;
  font-size: 1rem;
  display: flex;
  align-items:center;
  position: relative;
}

header img {
  height: 100px;
  width: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  position:absolute;right:0;bottom:0;
}

nav ul li {
  background-color: #615148;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
  border: 1px solid #615148;
}

nav ul li a {
  font-family: georgia, sans-serif;
  text-decoration: none;
  color:inherit;
}

nav ul li a:hover {
  color: #adb307;
}

nav ul li:nth-child(2) {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1em 4em 1em 4em;
}

.wrapper {
  background-color: #ffffff;
  margin: 0em 2em 0em 2em;
}

#primary {
  padding: 0em 0em 1em 2em;
  display:grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items:center;
}

#welcome{
}

#image{
}

figure img {
  height: 100%;
  width: 100%;
}

#secondary {
display:grid;
grid-template-columns: 50% 50%;
text-align: center;
}

#left{
}

.view_all_products {
  background-color: #f0f58661;
  border-width: medium;
  border-color: #000;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}


ul {
  list-style-type:none;
}

#right{
}

.view_more_staff_picks {
  background-color: #f0f58661;
  border-width: medium;
  border-color: #000;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}

footer {
  background-color: #f0f58661;
  width: 100%;
  padding: 0.8em 0 0 2em;
}
